html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0f0e17;
  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* svg {
  background-color: white;
} */

symbol text {
  font-size: 100px;
}

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.text:nth-child(5n + 1) {
  stroke: #DA70D6;
  animation-delay: -1.2s;
}

.text:nth-child(5n + 2) {
  stroke: #6A5ACD;
  animation-delay: -2.4s;
}

.text:nth-child(5n + 3) {
  stroke: #FFD700;
  animation-delay: -3.6s;
}

.text:nth-child(5n + 4) {
  stroke: #40E0D0;
  animation-delay: -4.8s;
}

.text:nth-child(5n + 5) {
  stroke: #FF7F50;
  animation-delay: -6s;
}
