html,
body {
  padding: 0;
  margin: 0;

  /* no highlight */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #0f0e17;

  display: flex;
  justify-content: center;
  align-items: center;
}

.common {
  height: 77px;
  max-height: 100%;
  overflow: auto;
  width: 30.8px;
  margin: auto;
  max-width: 100%;
  position: absolute;
  border-radius: 0vw 10vw 0vw 10vw;
  box-shadow: inset 0vw 0vw 0vw 0.1vw;
}

.one {
  transform: rotate(45deg);
  left: 0;
  right: 0;
  top: 0;
  bottom: 115.5px;

  animation: bladeAnimation 1s 0.875s ease infinite;
  -moz-animation: bladeAnimation 1s 0.875s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.875s ease infinite;
  -o-animation: bladeAnimation 1s 0.875s ease infinite;
}

.two {
  transform: rotate(90deg);
  left: 84.7px;
  right: 0;
  top: 0;
  bottom: 84.7px;

  animation: bladeAnimation 1s 0.75s ease infinite;
  -moz-animation: bladeAnimation 1s 0.75s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.75s ease infinite;
  -o-animation: bladeAnimation 1s 0.75s ease infinite;
}

.three {
  transform: rotate(135deg);
  left: 115.5px;
  right: 0;
  top: 0;
  bottom: 0;

  animation: bladeAnimation 1s 0.625s ease infinite;
  -moz-animation: bladeAnimation 1s 0.625s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.625s ease infinite;
  -o-animation: bladeAnimation 1s 0.625s ease infinite;
}

.four {
  transform: rotate(180deg);
  left: 84.7px;
  right: 0;
  top: 84.7px;
  bottom: 0;
}

.four {
  animation: bladeAnimation 1s 0.5s ease infinite;
  -moz-animation: bladeAnimation 1s 0.5s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.5s ease infinite;
  -o-animation: bladeAnimation 1s 0.5s ease infinite;
}

.five {
  transform: rotate(225deg);
  left: 0;
  right: 0;
  top: 115.5px;
  bottom: 0;

  animation: bladeAnimation 1s 0.375s ease infinite;
  -moz-animation: bladeAnimation 1s 0.375s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.375s ease infinite;
  -o-animation: bladeAnimation 1s 0.375s ease infinite;
}


.six {
  transform: rotate(270deg);
  left: 0;
  right: 84.7px;
  top: 84.7px;
  bottom: 0;

  animation: bladeAnimation 1s 0.25s ease infinite;
  -moz-animation: bladeAnimation 1s 0.25s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.25s ease infinite;
  -o-animation: bladeAnimation 1s 0.25s ease infinite;
}

.seven {
  transform: rotate(315deg);
  left: 0;
  right: 115.5px;
  top: 0;
  bottom: 0;

  animation: bladeAnimation 1s 0.125s ease infinite;
  -moz-animation: bladeAnimation 1s 0.125s ease infinite;
  -webkit-animation: bladeAnimation 1s 0.125s ease infinite;
  -o-animation: bladeAnimation 1s 0.125s ease infinite;
}

.eight {
  transform: rotate(360deg);
  left: 0;
  right: 84.7px;
  top: 0;
  bottom: 84.7px;

  animation: bladeAnimation 1s ease infinite;
  -moz-animation: bladeAnimation 1s ease infinite;
  -webkit-animation: bladeAnimation 1s ease infinite;
  -o-animation: bladeAnimation 1s ease infinite;
}

@keyframes bladeAnimation {
  0%,
  100% {
    box-shadow: inset 0vw 0vw 0vw 1.54px #e635c8,
      5px 0px 30px 0vw rgba(230, 53, 200, 0.8);
  }
  50% {
    box-shadow: inset 0vw 0vw 0vw 1.54px #17e1e6,
      5px 0px 30px 0vw rgba(23, 225, 230, 0.8);
  }
}

.container {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bladesContainer {
  width: 200px;
  height: 200px;

  animation: blades 5s linear infinite;
  -moz-animation: blades 5s linear infinite;
  -webkit-animation: blades 5s linear infinite;
  -o-animation: blades 5s linear infinite;
}

@keyframes blades {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.bar {
  background-color: #17e1e6;
  height: 5px;
  width: 200px;
  position: relative;
}

.progress {
  animation: progress 15s ease infinite;
  -moz-animation: progress 15s ease infinite;
  -webkit-animation: progress 15s ease infinite;
  -o-animation: progress 15s ease infinite;

  height: 100%;
  background-color: #e635c8;
  position: absolute;
  left: 0;
}

@keyframes progress {
  0% {
    width: 0;
  }
  10% {
    width: 20px;
  }
  30% {
    width: 60px;
  }
  50% {
    width: 100px;
  }
  65% {
    width: 130px;
  }
  80% {
    width: 160px;
  }
  100% {
    width: 200px;
  }
}